/* This is the color palette defined by LOTL's designer, Marybeth. */

@marybeth_darkred: #901B30;
@marybeth_red: #EE3F23;
@marybeth_yellow: #FFC845;
@marybeth_darkgreen: #738200;
@marybeth_green: #CBC14A;
@marybeth_lightgreen: #D2D995;
@marybeth_darkblue: #326487;
@marybeth_blue: #639ED2;
@marybeth_lightblue: #95BCE2;

/* These are the actual colors we'll use on the site. */

@primary: @marybeth_red;
@nav: white;
@navText: black;
@secondary: @marybeth_blue;
@darkgray: #77726F;
@lightgray: #ADA6A1;

/* These are various metrics. */

@minPageWidth: 900px;
@maxPageWidth: 1400px;
@pageWidth: 100% - (@gutterWidth * 2);

@navLogoOffset: 160px;
@playerWidth: @pageWidth - @navLogoOffset;
@playerHeight: 50px;
@playlistWidth: 250px;
@footerHeight: 150px;
@footerTopMargin: 20px;

@columnWidth: 25% - @gutterWidth;
@gutterWidth: 25px;

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
  position: relative;
  min-height: 100%;
  min-width: @minPageWidth;
}

body {
  margin: 0 0 (@footerHeight + @footerTopMargin);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav .container {
  overflow: visible;
}

.nav {
  color: @navText;
  background-color: @nav;
  margin-bottom: 80px;
}

.nav h1 {
  position: absolute;
  top: 0;
  margin: 18px 0 0 0;
}

.nav h1 a {
  display: block;
}

.nav h1 a img {
  display: block;
  border: 4px solid white;
  width: 140px;
  height: 101px;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav ul li a {
  opacity: 0.35;
  transition: opacity 0.25s;
}

.nav ul li a:hover {
  opacity: 1;
}

.nav ul.nav-left {
  list-style-type: none;
  margin: 0 0 0 @navLogoOffset;
  padding: 0;
  display: inline-block;
}

.nav ul.nav-left li {
  display: inline-block;
  margin: 20px 20px 20px 0;
}

.nav ul.nav-left li a.selected {
  text-decoration: underline;
  pointer-events: none;
}

.nav ul.nav-right {
  float: right;
  list-style-type: none;
  margin: 18px 0 0 0;
  padding: 0;
}

.nav ul.nav-right li {
  display: inline-block;
  margin: 0 0 0 10px;
}

.nav ul.nav-right li.search {
  color: black;
  border-bottom: 1px dotted lightgray;
}

.nav ul.nav-right li.search input {
  /* typeahead.js sets vertical-align: top on the element, which
   * throws off our formatting, so we undo that here. Which is weird. */
  vertical-align: middle !important;
  font-family: inherit;
  border: none;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}

.nav ul.nav-right li.search .tt-dropdown-menu .tt-suggestion p {
  /* Why every typeahead.js suggestion is wrapped in a paragraph
   * is anyone's guess... */
  margin: 0;
}

.nav ul.nav-right li.search .tt-dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.nav ul.nav-right li.search .tt-dropdown-menu .tt-suggestion {
  padding: 8px;
}

.nav ul.nav-right li.search .tt-dropdown-menu .tt-cursor {
  background: @secondary;
  color: white;
}

.player {
  position: absolute;
  top: 75px;
  margin-left: @navLogoOffset;
  height: @playerHeight;
  width: calc(@playerWidth);
  max-width: (@maxPageWidth - @navLogoOffset);
  background-color: #404040;
  color: white;
}

.player .episode {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px 10px 25px;
  background-color: @darkgray;
  height: 100%;
  width: @playlistWidth;
  cursor: pointer;
}

.player .episode:hover {
  background-color: darken(@darkgray, 10%);
}

.player .episode i.fa-caret-down {
  position: absolute;
  left: 10px;
  top: 8px;
  color: @lightgray;
}

.player .episode .title {
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.player .episode .subtitle {
  display: block;
  font-size: 10px;
  color: @lightgray;
}

.player .episode ul {
  position: absolute;
  top: @playerHeight;
  left: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: @darkgray;
  z-index: 5000;
}

.player .episode ul li.divider {
  background-color: white;
  color: @darkgray;
  text-transform: uppercase;
  padding: 2px 10px;
  font-size: 10px;
  cursor: default;
}

.player .episode ul li {
  border-top: 1px solid @lightgray;
}

.player .episode ul li a {
  display: block;
  padding: 10px;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
}

.player .episode ul li a:hover {
  background-color: @primary;
}

.player .audiojs {
  position: absolute;
  top: 7px;
  left: @playlistWidth;
  width: calc(100% - @playlistWidth);
}

.container {
  width: calc(@pageWidth);
  max-width: @maxPageWidth;
  overflow: hidden;
  margin: 0 auto;
}

.masonry-container {
  /* Budget enough width to contain all columns plus extra gutter, but 
   * rely on parent .container to hide the extra gutter. Taken from
   * http://jsfiddle.net/desandro/sJjYT/. */
  width: calc(100% + @gutterWidth);
}

.grid-sizer {
  width: calc(@columnWidth);
}

.gutter-sizer {
  width: @gutterWidth;
}

.post {
  width: calc(@columnWidth);
  margin-right: @gutterWidth;
  margin-bottom: @gutterWidth;
  background-color: #FDFDFD;
  font-size: 0;
}

h3.post {
  font-size: 30px;
  background-color: transparent;
  width: 100%;
}

.post.wide {
  width: calc((@columnWidth) * 2 + @gutterWidth);
}

.post.wide .post-details {
  padding-left: calc(50% + @gutterWidth/2);
}

.post.wide .post-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(50% - @gutterWidth/2);
  background-size: cover;
}

.post:not(.wide) .post-thumbnail {
  position: relative;
  width: 100%;
}

// We're setting the height of images based on a percentage
// of their width via padding on the parent element. For
// more information, see http://stackoverflow.com/a/12925343.

.post:not(.wide) .post-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.post.person .name {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: fade(@primary, 80%);
  color: white;
  font-size: 14px;
  padding: 6px;
}

.post.person .bio a {
  text-decoration: underline;
}

.post a.post-media-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: fade(@primary, 80%);
  color: white;
  font-size: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.post a.post-media-badge:hover {
  background-color: black;
  color: white;
}

.post a.post-media-badge .fa-microphone {
  padding: 6px 0 0 10px;
}

.post a.post-media-badge .fa-video-camera {
  padding: 6px 0 0 5px;
}

.post h3 {
  margin: 0;
  font-size: 20px;
}

.post a {
  color: inherit;
  text-decoration: inherit;
}

.post a:hover {
  color: @primary;
}

.post-pubdate {
  color: @secondary;
  font-weight: bold;
}

.post-details {
  font-size: 12px;
  padding: 14px;
}

ul.post-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: @lightgray;
}

ul.post-actions li {
  margin-right: 10px;
  display: inline-block;
  font-weight: bold;
}

.more, .spinner {
  text-align: center;
  font-size: 40px;
  color: @darkgray;
  cursor: pointer;
}

.more:hover {
  color: @primary;
}

#content-area {
  position: relative;
}

#content-area .results-holder {
  margin-top: 20px;
  transition: opacity 0.5s;
}

#content-area.show-post-detail .results-holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 0.20;
}

#content-area:not(.show-post-detail) .post-detail-holder {
  display: none;
}

.post-detail-holder {
  position: relative;
  z-index: 1;
}

.post-detail {
  background-color: white;
  margin: 0 6%;
}

.post-detail .pd-feature-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative;
}

.post-detail .pd-feature-image h2 {
  margin: 0;
  color: @primary;
  position: absolute;
  bottom: -30px;
  left: 30px;
  right: 30px;
  padding: 10px;
  font-size: 35px;
  background-color: white;
}

.post-detail .pd-body {
  padding: 40px;
}

.post-detail img.aligncenter {
  display: block;
  margin: 0 auto;
}

.post-detail a {
  color: @primary;
}

.post-detail .pd-listen {
  margin-top: -10px;
}

.post-detail .pd-listen a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.post-detail .pd-listen a:hover {
  color: @primary;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: @footerHeight;
  width: 100%;
  padding: 40px 0;
  background-color: @darkgray;
  color: white;
  font-size: 12px;
  text-align: center;
}

footer ul.allies {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul.allies li {
  margin-left: 30px;
  vertical-align: middle;
  display: inline-block;
}

footer ul.allies li:first-child {
  margin-left: 0;
}

footer ul.allies img {
  border: none; // For IE9
}
