<!DOCTYPE html>
<meta charset="utf-8">
<base target="_blank">
<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
<link rel="stylesheet/less" href="styles.less">
<script src="vendor/less.js"></script>
<title>Life of The Law Masonry Prototype</title>
<div class="nav"><div class="container"><h1>Life of The Law Masonry Prototype</h1></div></div>
<div class="container"><div id="results" class="masonry-container"></div></div>
<script type="text/html" id="post-template">
  <div class="post{% if isWide %} wide{% endif %}">
    {% if isWide %}
    <div class="post-thumbnail"{% if thumbnail %} style="background-image: url({{ thumbnail.url }})"{% endif %}></div>
    {% endif %}
    {% if not isWide and thumbnail %}
    <img src="{{ thumbnail.url }}" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}">
    {% endif %}
    <div class="post-details">
      <h3><a href="{{ link }}">{{ title }}</a></h3>
      <p class="post-pubdate">Posted {{ pubdate.toDateString() }}</p>
      {% if excerpt %}
      <p>{{ excerpt }}</p>
      {% endif %}
      <ul class="post-actions">
        {% if enclosure %}
        <li><a href="{{ enclosure }}"><i class="fa fa-play-circle"></i> Listen</a></li>
        {% endif %}
        <li><a href="{{ link }}"><i class="fa fa-book"></i> Read More</a></li>
      </ul>
    </div>
  </div>
</script>
<script src="vendor/jquery.js"></script>
<script src="vendor/nunjucks.js"></script>
<script src="vendor/masonry.pkgd.js"></script>
<script src="posts.js"></script>
<script>
$(function() {
  var COLUMN_WIDTH = 210;
  var GUTTER_WIDTH = 20;
  var results = $('#results');

  nunjucks.configure({autoescape: true});
  var postTemplate = $.trim($('#post-template').text());
  POSTS.reverse().forEach(function(post) {
    if (post.author == 'lifeofthelaw')
      post.author = null;
    post.pubdate = new Date(post.pubdate);
    if (post.thumbnail && !post.thumbnail.width) post.thumbnail = null;
    if (post.thumbnail) {
      post.thumbnail.height = post.thumbnail.height * COLUMN_WIDTH /
                              post.thumbnail.width;
      post.thumbnail.width = COLUMN_WIDTH;
    }
    post.isWide = !!post.enclosure;
    post.$el = $(nunjucks.renderString(postTemplate, post))
      .appendTo(results);
  });

  results.masonry({
    columnWidth: COLUMN_WIDTH,
    gutter: GUTTER_WIDTH,
    itemSelector: '.post'
  });
});
</script>
