@orange: #F5764B;
@beige: #ECEADF;
@green: #65B9B9;

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: @beige;
}

body {
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav {
  color: white;
  background-color: @orange;
  margin-bottom: 20px;
  min-width: 900px;
}

.container {
  width: 900px;
  overflow: hidden;
  margin: 0 auto;
}

.masonry-container {
  /* Budget enough width to contain all columns plus extra gutter, but 
   * rely on parent .container to hide the extra gutter. Taken from
   * http://jsfiddle.net/desandro/sJjYT/. */
  width: 920px;
}

.post {
  width: 210px; /* Must be mirrored by COLUMN_WIDTH below. */
  margin-right: 20px; /* Must be mirrored by GUTTER_WIDTH below. */
  margin-bottom: 20px;
  background-color: #FDFDFD;
  font-size: 0;
}

.post.wide {
  width: 440px; /* Must be mirrored by COLUMN_WIDTH * 2 + GUTTER_WIDTH
                 * below. */
}

.post.wide .post-details {
  padding-left: 230px; /* Must be mirrored by COLUMN_WIDTH + GUTTER_WIDTH 
                        * below. */
  min-height: 230px;
}

.post.wide .post-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 210px; /* Must be mirrored by COLUMN_WIDTH below. */
  background-size: cover;
}

.post h3 {
  margin: 0;
}

.post a {
  color: inherit;
  text-decoration: inherit;
}

.post a:hover {
  color: @orange;
}

.post-pubdate {
  color: @green;
  font-weight: bold;
}

.post-details {
  font-size: 12px;
  padding: 14px;
}

ul.post-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.post-actions li {
  margin-right: 10px;
  display: inline-block;
  font-weight: bold;
}
