<div class="pd-feature-image" style="background-image: url({{ thumbnail_images.full.url }})"><h2>{{ title|safe }}</h2></div>
<div class="pd-body">
  {% if enclosure %}
  <p class="pd-listen"><a 
    role="play-podcast"
    data-podcast-info="{{ enclosurePodcastInfo }}"
    href="{{ enclosure }}"><i class="fa fa-play-circle"></i> Listen</a></p>
  {% endif %}
  <p class="post-pubdate">Posted 
  {% if authorName %}by {{ authorName }} on{% endif %}
  {{ pubdate.toDateString() }}
  </p>
  {{ content|safe }}
</div>
