<div class="pd-feature-image" style="background-image: url(/img/404.jpg)"><h2>Oops!</h2></div>
<div class="pd-body">
  <p>Sorry, but we couldn't find the page you were looking for.</p>
  {% if url %}
  <p>We did recently move to a new website; perhaps you could <a href="http://wordpress.lifeofthelaw.org{{ url }}">check the old site</a>?</p>
  {% endif %}
  <p><small>Image credit: <a href="https://www.flickr.com/photos/swanksalot/10003427895/">404 ed</a> by Seth Anderson on Flickr.</small></p>
</div>
