<div class="pd-feature-image" style="background-image: url({{ thumbnail_images.full.url }})"><h2>{{ title|safe }}</h2></div>
<div class="pd-body">
  {% if enclosure %}
  <p class="pd-listen"><a
    role="play-podcast"
    data-podcast-info="{{ enclosurePodcastInfo }}"
    href="{{ enclosure }}"><i class="fa fa-play-circle"></i> Listen</a></p>
  {% endif %}
  <p class="post-pubdate">Posted
  {% if authorName %}by {{ authorName }} on{% endif %}
  {{ pubdate.toDateString() }}
  </p>
  <ul class="post-share-links">
    <li><a href="http://www.facebook.com/share.php?u=http://www.lifeofthelaw.org{{ link }}&text={{ title | safe }}">Share <i class="fa fa-facebook"></i></a></li>
    <li><a href="http://twitter.com/home?status={{ title | safe }}+http://www.lifeofthelaw.org{{ link }}">Tweet <i class="fa fa-twitter"></i></a></li>
  </ul>
  <div class="content">
    {{ content|safe }}
  </div>

  <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_title = '{{ title }}';
      var disqus_url = 'http://www.lifeofthelaw.org{{ link }}';
      var disqus_identifier = '{{ slug }}';
      var disqus_shortname = 'lifeofthelaw';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
</div>
