<div class="post{% if isWide %} wide{% endif %}">
  <div class="post-thumbnail"
    {% if thumbnail %}
      {% if isWide %}
        style="background-image: url({{ thumbnail.url }})"
      {% else %}
        style="padding-top: {{ thumbnail.heightPercentage }}%"
      {% endif %}
    {% endif %}>
  {% if not isWide and thumbnail %}
  <img src="{{ thumbnail.url }}">
  {% endif %}
  {% if enclosure %}<a href="{{ enclosure }}" role="play-podcast" data-podcast-info="{{ enclosurePodcastInfo }}" class="post-media-badge"><i class="fa fa-microphone"></i></a>
  {% elif isVideo %}
  <a href="{{ link }}" class="post-media-badge"><i class="fa fa-video-camera"></i></a>
  {% endif %}
  </div>
  <div class="post-details">
    <h3><a href="{{ link }}">{{ title|safe }}</a></h3>
    <p class="post-pubdate">Posted {{ pubdate.toDateString() }}</p>
    {% if excerpt %}
    <p>{{ excerpt|safe }}</p>
    {% endif %}
    <ul class="post-actions">
      {% if enclosure %}
      <li><a 
        role="play-podcast"
        data-podcast-info="{{ enclosurePodcastInfo }}"
        href="{{ enclosure }}"><i class="fa fa-play-circle"></i> Listen</a></li>
      {% endif %}
      {% if isVideo %}
      <li><a href="{{ link }}"><i class="fa fa-play-circle"></i> Watch</a></li>
      {% else %}
      <li><a href="{{ link }}"><i class="fa fa-book"></i> Read More</a></li>
      {% endif %}
    </ul>
  </div>
</div>
