<!DOCTYPE html>
<meta charset="utf-8">
<base target="_blank">
<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet/less" href="styles.less">
<script>
var COLUMN_WIDTH = 210;
var GUTTER_WIDTH = 20;

var less = {
  globalVars: {
    columnWidth: COLUMN_WIDTH + 'px',
    gutterWidth: GUTTER_WIDTH + 'px'
  }
};
</script>
<script src="vendor/less.js"></script>
<title>Life of The Law Masonry Prototype</title>
<div class="nav">
  <div class="container">
    <h1>LOGO</h1>
    <ul>
      <li><a href="#">Topics</a></li>
      <li><a href="http://www.lifeofthelaw.org/livelaw/">Live Law</a></li>
      <li><a href="http://www.lifeofthelaw.org/about/">About</a></li>
      <li><a href="https://donatenow.networkforgood.org/Lifeofthelaw">Donate</a></li>
    </ul>
    <div class="search"><input id="search" type="text" placeholder="Search" autocomplete="off"></div>
  </div>
</div>
<div class="container">
  <div class="player">
    <div class="controls"><i class="fa fa-play-circle"></i> Listen</div>
    <div class="episode">
      <span class="title">Two Sides of a River</span>
      <span class="subtitle">Latest Episode</span>
    </div>
  </div>
</div>
<div class="container">
  <div id="results" class="masonry-container"></div>
  <div id="more"><i class="fa fa-chevron-circle-down"></i></div>
  <div id="spinner"><i class="fa fa-circle-o-notch fa-spin"></i></div>
</div>
<footer>
  <div class="container">
    <p>Life of The Law is a super awesome 360 degree view of our legal system.</p>
    <p><small>There should really be more content here.</small></p>
  </div>
</footer>
<script type="text/html" id="post-template">
  <div class="post{% if isWide %} wide{% endif %}">
    {% if isWide %}
    <div class="post-thumbnail"{% if thumbnail %} style="background-image: url({{ thumbnail.url }})"{% endif %}></div>
    {% endif %}
    {% if not isWide and thumbnail %}
    <img src="{{ thumbnail.url }}" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}">
    {% endif %}
    <div class="post-details">
      <h3><a href="{{ link }}">{{ title|safe }}</a></h3>
      <p class="post-pubdate">Posted {{ pubdate.toDateString() }}</p>
      {% if excerpt %}
      <p>{{ excerpt|safe }}</p>
      {% endif %}
      <ul class="post-actions">
        {% if enclosure %}
        <li><a href="{{ enclosure }}"><i class="fa fa-play-circle"></i> Listen</a></li>
        {% endif %}
        <li><a href="{{ link }}"><i class="fa fa-book"></i> Read More</a></li>
      </ul>
    </div>
  </div>
</script>
<script src="vendor/jquery.js"></script>
<script src="vendor/typeahead.js"></script>
<script src="vendor/nunjucks.js"></script>
<script src="vendor/masonry.pkgd.js"></script>
<script src="vendor/bacon.js"></script>
<script>
var results = $('#results');
var more = $('#more');
var postTemplate = $.trim($('#post-template').text());

// https://gist.github.com/jharding/9458744#file-the-basics-js
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });

    cb(matches);
  };
};

function setupSearch() {
  var matcher;
  var tags = {};
  var currentTag = null;

  POSTS.forEach(function(post) {
    post.tags.forEach(function(tag) {
      if (!(tag in tags))
        tags[tag] = [];
      tags[tag].push(post);
    });
  });

  matcher = substringMatcher(Object.keys(tags));

  $('#search').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  }, {
    name: 'tags',
    displayKey: 'value',
    source: matcher
  }).on('keyup', function(event) {
    var val = $(this).val();
    if (event.which == 27)
      return $(this).typeahead('val', '').trigger('keyup');
    if (val in tags) {
      if (currentTag != val) {
        currentTag = val;
        scrollify(tags[val]);
      }
    } else {
      if (event.which == 13 && val) {
        matcher(val, function(matches) {
          if (matches.length) {
            val = matches[0].value;
            $(this).typeahead('val', val).trigger('keyup');
          }
        }.bind(this));
      } else {
        if (currentTag) {
          currentTag = null;
          scrollify(POSTS);
        }
      }
    }
  });
}

function scrollify(url) {
  var postsSoFar = 0;
  var showOnePost = function showOnePost(post) {
    if (post.author == 'lifeofthelaw')
      post.author = null;
    post.pubdate = new Date(post.pubdate);
    if (post.thumbnail && !post.thumbnail.width) post.thumbnail = null;
    if (post.thumbnail) {
      post.thumbnail.height = post.thumbnail.height * COLUMN_WIDTH /
                              post.thumbnail.width;
      post.thumbnail.width = COLUMN_WIDTH;
    }
    post.isWide = (++postsSoFar == 1);
    post.$el = $(nunjucks.renderString(postTemplate, post)).appendTo(results);
    results.masonry('appended', post.$el[0]);
    results.masonry();
  };
  var fetchMore = more.asEventStream('click')
    .scan(1, function incrementPage(page) { return page + 1; });
  var fetchedResults = fetchMore.flatMap(function(page) {
    return Bacon.fromPromise($.getJSON(url + '?page=' + page));
  });
  var morePagesLeft = fetchedResults.map(function(info) {
    return info.page < info.pages;
  }).toProperty(false);
  var waiting = fetchMore.awaiting(fetchedResults);

  if (results.data('masonry')) {
    results.masonry('destroy');
    results.empty();
    more.off('click');
  }

  results.masonry({
    columnWidth: COLUMN_WIDTH,
    gutter: GUTTER_WIDTH,
    itemSelector: '.post'
  });

  fetchedResults.onValue(function(info) {
    info.posts.forEach(showOnePost);
  });

  waiting.assign($('#spinner'), 'toggle');
  waiting.not().and(morePagesLeft).assign(more, 'toggle');
}

$('.player .controls').click(function() {
  alert("Sorry, this doesn't do anything yet.");
});

$(function() {
  nunjucks.configure({autoescape: true});
  //TODO: Bring search back!
  //setupSearch();
  scrollify('/posts.json');
});
</script>
